header{

    background-color: darkcyan;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 85px;
    font-size: 2em;
    padding: 10px;

}


nav{

background-color: red;
position: fixed;
top: 85px;
height: 55px;

left: 0px;
right: 0px;
padding: 10px;

}


#leftBar{
    background-color: orange;
    position: fixed;
    top: 160px;
    bottom: 0px;

    left: 0px;
    width: 200px;
    overflow-y: scroll;


}

.button{
    
    background-color: white;
    padding: 3px;
    border: 1px solid black;


}

.button:hover{
    
    background-color: yellow;
    cursor: pointer;





}

main{
position: fixed;


top: 160px;
left: 200px;
right: 0px;
bottom: 0px;
background-color: azure;

overflow-y: scroll;
}



.tape{

    background-color: black;

    color: white;
    margin: 2px;
    padding: 5px;
    border: 2px solid dodgerblue;



}
.scotch{
    border-color:aqua;

}

.masking{
    border-color:chartreuse;

}

.electrical{
    border-color:purple;

}

