#blockOne{
    background-color: #12a22a;
    position: fixed;
    top: 0px;
    bottom: 0px; 

    left: 0px;
    width: 60vw;
    /* overflow-y: scroll; */


}

#blockTwo{
    background-color: #12a22a;
    position: fixed;
    top: 0px;
    bottom: 0px;

    right: 0px;
    width: 40vw;
    /* overflow-y: scroll; */


}


#blockAccuse{
    background-color: white;  
    position: fixed;
    top: 45vh;
    width: 20vw;


}


img{
    max-width: 20vw;
    padding-left: .5vw;
    padding-right: .5vw;
    max-height: 40vh;
}

#room{
    font-size: 2em;
    width: 15vw;
}
#person{
    font-size: 2em;
    width: 15vw;
}
#weapon{
    font-size: 2em;
    width: 15vw;
}


.button{
    
    background-color: white;
    padding: 3px;
    border: 1px solid black;


}

.button:hover{
    
    background-color: yellow;
    cursor: pointer;





}