#blockOne{
    background-color: #12a22a;
    position: fixed;
    top: 0px;
    bottom: 0px; 

    left: 0px;
    width: 60vw;
    /* overflow-y: scroll; */


}

#blockTwo{
    background-color: #12a22a;
    position: fixed;
    top: 0px;
    bottom: 0px;

    right: 0px;
    width: 40vw;
    /* overflow-y: scroll; */


}


#blockAccuse{
    background-color: white;  
    position: fixed;
    top: 45vh;
    bottom: 80vh;
    width: 20vw;


}


img{
    max-width: 20vw;
    padding-left: .5vw;
    padding-right: .5vw;
    max-height: 40vh;
}

#room{
    font-size: 2em;
    width: 15vw;
}
#person{
    font-size: 2em;
    width: 15vw;
}
#weapon{
    font-size: 2em;
    width: 15vw;
}


.button{
    
    background-color: white;
    padding: 3px;
    border: 1px solid black;


}

.button:hover{
    
    background-color: yellow;
    cursor: pointer;


}

/* add and remove class for buttons */
.disabled{

    opacity: 0.6;
    cursor: not-allowed;
}


.button1{
    
    background-color: rgb(228, 228, 228);
    padding: 3px;
    border: 1px solid black;


}

.button1:hover{
    
    background-color: rgb(153, 153, 153);
    cursor: pointer;


}


#blockInfo{
    background-color: white;
    position: fixed;
    top: .5vh;
    bottom: 10vh;

    left: 21vw;
    width: 39vw;

}

#newInfo{

    position: fixed;
    top: 10vh;
    bottom: 19.5vh;

    left: 25vw;
    width: 20vw;
    overflow-y: scroll;
    border: 2px solid white;

}

#itemList{
    position: fixed;
    top: 1.5vh;
    bottom: 11vh;

    left: 49vw;
    width: 10vw;
    overflow-y: scroll;
    border: 2px solid black;


}