#blockOne{
    background-color: #12a22a;
    position: fixed;
    top: 0px;
    bottom: 0px; 

    left: 0px;
    width: 60vw;
    /* overflow-y: scroll; */


}

#blockTwo{
    background-color: #12a22a;
    position: fixed;
    top: 0px;
    bottom: 0px;

    right: 0px;
    width: 40vw;
    /* overflow-y: scroll; */


}


#blockAccuse{
    background-color: white;  
    position: fixed;
    top: 45vh;
    bottom: 80vh;
    width: 20vw;


}


img{
    max-width: 20vw;
    padding-left: .5vw;
    padding-right: .5vw;
    max-height: 40vh;
}

#room{
    font-size: 2em;
    width: 15vw;
}
#person{
    font-size: 2em;
    width: 15vw;
}
#weapon{
    font-size: 2em;
    width: 15vw;
}


.button{
    
    background-color: white;
    padding: 3px;
    border: 1px solid black;


}

.button:hover{
    
    background-color: yellow;
    cursor: pointer;


}

/* add and remove class for buttons */
.disabled{

    opacity: 0.6;
    cursor: not-allowed;
}


.button1{
    
    background-color: rgb(228, 228, 228);
    padding: 3px;
    border: 1px solid black;


}

.button1:hover{
    
    background-color: rgb(153, 153, 153);
    cursor: pointer;


}


#blockInfo{
    background-color: white;
    position: fixed;
    top: .5vh;
    bottom: 10vh;

    left: 21vw;
    width: 39vw;

}

#newInfo{

    position: fixed;
    top: 10vh;
    bottom: 19.5vh;

    left: 25vw;
    width: 20vw;
    overflow-y: scroll;
    border: 2px solid white;

}

#itemList{
    position: fixed;
    top: 1.5vh;
    bottom: 11vh;

    left: 49vw;
    width: 10vw;
    overflow-y: scroll;
    border: 2px solid black;


}

#blockTurnOrder{
    background-color: white;
    position: fixed;
    top: 92vh;
    bottom: 2vh;

    left: 5vw;
    width: 50vw;
    overflow-y: scroll;
    border: 2px solid black;



}

#PeacockTurn{
    position: fixed;
    top: 93vh;
    bottom: 3vh;
    left: 7vw;
    width: 6vw;
    font-size: 1.3em;
    text-align: center;
    color: grey;
    border: 2px solid black;
    background-color: #222a9975;
}
#PlumTurn{
    position: fixed;
    top: 93vh;
    bottom: 3vh;
    left: 15vw;
    width: 6vw;
    font-size: 1.3em;
    text-align: center;
    color: grey;
    border: 2px solid black;
    background-color: #6d229975;
}
#MustardTurn{    
    position: fixed;
    top: 93vh;
    bottom: 3vh;
    left: 23vw;
    width: 6vw;
    font-size: 1.3em;
    text-align: center;
    color: grey;
    border: 2px solid black;
    background-color: #997f2275;
}
#WhiteTurn{
    position: fixed;
    top: 93vh;
    bottom: 3vh;
    left: 31vw;
    width: 6vw;
    font-size: 1.3em;
    text-align: center;
    color: grey;
    border: 2px solid black;
    background-color: #bdfffc75;
}
#GreenTurn{
    position: fixed;
    top: 93vh;
    bottom: 3vh;
    left: 39vw;
    width: 6vw;
    font-size: 1.3em;
    text-align: center;
    color: grey;
    border: 2px solid black;
    background-color: #2e992275;
}
#ScarletTurn{
    position: fixed;
    top: 93vh;
    bottom: 3vh;
    left: 47vw;
    width: 6vw;
    font-size: 1.3em;
    text-align: center;
    color: grey;
    border: 2px solid black;
    background-color: #99222275;
}
#ActiveTurn{
    /* add for current turn */
    opacity: 0;
    color: black;
    text-decoration: bold;
}

#roomTwo{
    font-size: 1.8em;
    width: 180px;
}



#blockHighScore{
    position: fixed;
    top: .5vh;
    bottom: 95vh;
    left: 62vw;
    width: 35.25vw;
    padding: .75vh;
    background-color: white;

}


#blockMove{
    position: fixed;
    top: 8vh;
    bottom: 0vh;
    left: 62vw;
    width: 36vw;
    /* border: 2px solid black; */

}


#blockTurnNumber{
    position: fixed;
    top: 8vh;
    bottom: 85vh;
    left: 62vw;
    width: 15vw;
    text-align: center;
    background-color: white;

}


#blockMoveSelect{
    position: fixed;
    top: 17vh;
    

}


#blockMoveRules{
    position: fixed;
    top: 93vh;
    bottom: 3vh;
    left: 47vw;
    width: 6vw;
    text-align: center;
    background-color: white;

}

.button2{
    position: fixed;
    top: 93vh;
    bottom: 3vh;
    left: 47vw;
    width: 6vw;
    text-align: center;

}


#blockNotes{
    position: fixed;
    top: 93vh;
    bottom: 3vh;
    left: 47vw;
    width: 6vw;
    text-align: center;
    background-color: white;


}