.hide{
    display: none;


}


.done{
    /* for already bought array */
    padding: 5px;
    margin: 2px;
    border: 2px solid black;
    background-color: aquamarine;
    text-decoration: line-through;
    text-decoration-color: red; 
    opacity: .7;
}



li{

    padding: 5px;
    margin: 2px;
    border: 2px solid black;
    background-color: aquamarine;

}


